<div class="jumbotron text-center">
    <h2>{{rooms.msg}}</h2>
    <h3>Rooms List</h3>
</div>

<div class="page-header">
    <h3 >
        <a ui-sref="#" class="btn btn-primary" ng-click="rooms.enableNewRoomForm()">
            <span class="glyphicon glyphicon-plus"></span>
        </a> Create new Room

        <form ng-if="rooms.newRoomFormEnabled">
            <input type="text" name="name" placeholder="room name" ng-model="rooms.newRoom.name">
            <div class="btn btn-primary" ng-click="rooms.createNewRoom()">Create</div>
        </form>

    </h3>

</div>

<table class="table table-bordered table-striped" ng-show="rooms.roomsList">
	<thead>
		<tr>
			<th>Room Name</th>
			<th>Users</th>
			<th class="col-sm-2"></th>
		</tr>
	</thead>

	<tbody>
		<!-- Loop over the users -->
		<tr ng-repeat="room in rooms.roomsList">
			<td>{{room.name}}</td>
			<td>{{room.usersLenght}}</td>
			<td class="col-sm-2">
				<a ui-sref="#"
                   class="btn btn-success"> Enter
                </a>
			</td>
		</tr>
	</tbody>
</table>
