.notifications {
    margin-top: 5%;
    position: absolute;
    float: left;
}
@media (max-width : 600px) {
   .notifications {
        margin-top: 10%;
        position: absolute;
        float: left;
    }
}

/* CHAT */
* {
    margin: 0;
    padding: 0;
    box-sizing:
    border-box;
}
#messages li {
    font: 25px Helvetica, Arial;
}
#message_form {
    padding: 3px;
    position: fixed;
    bottom: 0;
    width: 100%;
}


#message_input {
    padding: 3%;
    width: 100%;
}

#send_message {
    padding: 0.5%;
    width: 10%;
    background: rgba(50, 200, 50, 0.8);

}

#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#messages li {
    padding: 5px 10px;
}
#messages li:nth-child(odd) {
    background: #eee;
}
